<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Camera Permission -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- High Sampling Rate Sensors Permission -->
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />

    <!-- Camera Features -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- Set to false so app can run without camera -->
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SLAMvsDR">

        <!-- MAIN MENU should be the LAUNCHER -->
        <activity
            android:name=".MainMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Dead Reckoning Activity -->
        <activity
            android:name=".DeadReckoningActivity"
            android:exported="false" />

        <!-- Sensor Data Activity -->
        <activity
            android:name=".SensorDataActivity"
            android:exported="false" />

        <!-- Camera SLAM Activity -->
        <activity
            android:name=".CameraSlamActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>